# Aktiver Provider: "whatsapp", "telegram" oder "gowa"
MESSAGING_PROVIDER=whatsapp

# WhatsApp / Meta Cloud API
WHATSAPP_ACCESS_TOKEN=EAANNLlqZCMzQBRESj76SyRomfXiE9B94mZAx0qc8CD1ZArzviZBrKtff8UVqE3duaEgQUX0S8fCKETHZAhexpcNLqNekeZA4CAGgMaNvQ0lZAvqo3VqYZAV3SJNtxZBLDUVnXPEkFPuiG3IoTvLzZBTjiGVmAzPcLlKZCi9Y8seNXPxZAQbSU41zzxnIBN4FHicYIe7uSwZDZD
WHATSAPP_PHONE_NUMBER_ID=1081268311733702
WHATSAPP_TEST_PHONE_NUMBER_ID=1089647837558131
WHATSAPP_WEBHOOK_VERIFY_TOKEN=b48805c4fed1a91c016b8e7ef5c0e4b342289fc0eb9469f6

# GoWA (go-whatsapp-web-multidevice)
GOWA_BASE_URL=https://gowa.hellomirrors.com
GOWA_USERNAME=36aCGEhknwFk5rm4
GOWA_PASSWORD=JF19aPdBig6VhetgXMPqtI58Lso5bYPN
GOWA_PHONE_NUMBER=491786347439
GOWA_DEVICE_ID=fedcf0ff-4bfd-4fd6-9888-13d8c135a080

# Telegram Bot API
TELEGRAM_BOT_TOKEN=8622348767:AAF2AL38nIDU3Jh2hA3B_Y9b6darUNURJ1k
TELEGRAM_BOT_USERNAME=hmcatcher_bot

# MQTT (hellomirrors mosquitto) — used to receive messages from the slot machine
MQTT_URL=wss://mosquitto.hellomirrors.com:443/
MQTT_USERNAME=GZ7gEwTFSWIDfS6R
MQTT_PASSWORD=tMrVIrnUpKFPtT2Opxm9cVxDwxc4Cvfp
MQTT_TOPIC=hmslots